*{
    font-family: 'Popins',sans-serif;
}
/* ******************************************** */
.dropdown-menu{
    display: none;
}
.dropdown:hover .dropdown-menu {
    display: block;
    border: none;
}

/*****************Side-Nav Main-Content********************************/
.sidenav{
    width: 20%;
    height: 100vh;
    overflow: hidden;
    overflow-y: visible;
}.main-content{
    width: 80%;
    height: 100vh;
    overflow: hidden;
    overflow-y: visible;
}
/************************************************* */
.head{
    border-bottom: 1px solid #e5e5e5;
}
/*************************************************/
.right{
    text-decoration: none;
    color: black;
    display: block;
    text-align: right;
    position: relative;
    top:-25px;

}
@media screen and (max-width:767px) {
    .right{
        text-align: left;
        top: 25px;
    }
}
.left{
    text-decoration: none;
    color: black;
    display: block;
}
/**********************************************/
tr:nth-child(even) {
    background-color: #dddddd;
  }

th,td{
    border: 2px solid #e5e5e5;
    padding: 8px;
}
.table{
    overflow: hidden;
    overflow-x: visible;
}
.title button{
    border: none;
}
/*************************************************/
.disabled{
    color:#7c7b7b !important;
}
@media screen and (max-width:767px) {
    .sidenav{
        display: none;
    }
    .main-content{
        width: 100%;
    }
    .drops{
        display: block !important;
    }
    form{
        display: none;
    }
}
.drops{
    display: none;
}
/***********************************************/
.days{
    display: block;
    margin-left: auto;
    border: none;
    background-color: white;
}
.request{
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}.request div{
    border-bottom: 1px solid #e5e5e5;
}
/********************************************/
.body-param{
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}
.body-param div{
    display: block;
    margin-left: auto;  
}
@media screen and (max-width:767px) {
    .body-param div{
        display: block;
        margin-left: 0px;
    }
    .body-param div input{
        width: 120%;
    }   
}
/********************************************/
.fas{
    display: block;
    margin-left: auto;
}
/********************************************/
.nav-pills img{
    width: 15px;
}
.nav-pills h6{
    color: black;
}
 .language-dropdown .dropdown-item .nav-link{
    width: 300px !important;
    height: 35px;
} 

.curl{
    background-color: black;
    color: white;
    border-radius: 10px;
}.curl button{
    display: block;
    margin-left: auto;
    background-color: black;
    color: white;
    border: none;
}
.curl .post{
    overflow: hidden;
    overflow-x: visible;
}

.ro{
    border: 1px solid #e5e5e5;
}
.partner{
    color: #46b8da;
    border-left: 3px solid #5bc0de;
    background: #e3edf2;
}
.tryit{
    border: 1px solid #e3edf2;
}
.tryit .exam{
    border:none;
    background-color: white;
    display: block;
    margin-left: auto;
}

.tryit .result{
    border: none;
    background-color: white;
    font-size: 14px;
}
.kbd{
    color: black;
}


.code{
    height: 500px;
    overflow: auto;
}